<div data-alert class="alert-box alert">
    <div>Unable to fetch {{username}}'s collection. Please try again later.</div>
    <div>If this problem persists, you can report it <a href="https://github.com/jimpatricksullivan/bgg-game-picker/issues">here</a>.</div>
</div>