<div data-alert class="alert-box info">
    <div>
        Don't have a BGG account? You can <a href="https://boardgamegeek.com/register">Sign up</a>
        and <a href="http://boardgamegeek.com/wiki/page/BoardGameGeek_FAQ#toc5">create a collection</a>.
    </div>
    <div>
        Or if you just want to try the game picker, enter the username "kform".
    </div>
</div>